/* color palette from <https://github.com/vuejs/theme> */
:root {
  --white: #f8f8f8;
  --black: #222222;
  --dark: #5c5b5b;
  --grey: #bbbbbb;
  --sky_blue: #45a3fa;
  --light_sky_blue: #45a2fa87;
  --yellow: rgb(243, 240, 86);
  --light_yellow: rgb(243, 240, 86, 0.553);
}

:root [theme='light'] {
  --color-background: var(--white);
  --color-text: var(--black);
  --color-text-sub: var(--dark);
  --color-text-sub-sub: var(--grey);
  --color-light: var(--sky_blue);
  --color-light-light: var(--light_sky_blue);
}

:root [theme='dark'] {
  --color-background: var(--black);
  --color-text: var(--white);
  --color-text-sub: var(--grey);
  --color-text-sub-sub: var(--dark);
  --color-light: var(--yellow);
  --color-light-light: var(--light_yellow);
}
